<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>Private?</th>
    <th></th>
    <th></th>
  </tr>

  <% @list_of_users.each do |a_user| %>

    <tr>
      <td>
        <%= a_user.username %>
      </td>

      <td>
        <% if a_user.private %>
        <%= "Yes" %>
        <% else %>
        <%= "No" %>
        <% end %>
      </td>

      <td>
        <% # find a row in follow_request where sender = current_user.id AND recipient = a_user.id %>
        <% if # current user is following a_user.username %>
        <a href="/delete_follow_request/<%= a_user.id %>">
              Unfollow
            </a>
        <% elsif # current_user has sent a follow request but status = pending %>
        Request sent.
        <a href="/delete_follow_request/<%= a_user.id %>">
              Cancel
            </a>
        <%= # "Request sent." Cancel with action to withdraw %>
        <% else %>
          <form action="/insert_follow_request" method="post">
          <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">
          <button>
              Follow
              </button>
            </form>
        <% end %>
      </td>

      <td>
        <a href="/users/<%= a_user.username %>">
          Show details
        </a>
      </td>

    </tr>
  <% end %>
</table>
